# Zugangsschluessel fuer den geteilten Link.
#
# Ist die Variable leer oder nicht gesetzt, ist die Seite oeffentlich
# erreichbar und zeigt oben einen Warnbanner.
#
# Einen Schluessel erzeugen:
#   node -e "console.log(require('crypto').randomBytes(16).toString('base64url'))"
#
# Danach lautet der zu teilende Link:
#   https://<deine-domain>/?key=<ACCESS_KEY>
ACCESS_KEY=
